<section class="card">
  <!-- The contents of this card shows comment content using the comment ID -->
  <a href="/comment/{{id}}">
    <header>{{entry}}</header>
    {{!-- <p>Posted by {{User.name}} on {{}}</p> --}}
  </a>
</section>

