


<section class="card">
  <!-- The contents of this card shows blog content using the post ID -->
  <a href="/post/{{id}}">
    <!-- The card contains the entry_title as the card header -->
    <header>{{entry_title}}</header>
    <!-- The card also contains the entry content -->
    <p>{{entry}}</p>
    {{!-- <p>Posted by {{User.name}} on {{}}</p> --}}
  </a>
</section>


