   {{!-- The dashboard should display each blog post belonging to the user and delete button --}}
 <div>
    <p>Welcome to your Dashboard {{data.username}}!</p>
    <p>Check out all your Blogs!</p>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Blog Post:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="blog-title">Blog Title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-entry">Blog Entry:</label>
        <input class="form-input" type="text" id="blog-entry" name="blog-entry" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

{{log "hey! ! ! !  this is userblogs in dashboard.handlebars:" data}}

  <div class="col-md-6 blog-list">
  <h3>Your Current Blogs:</h3>
  {{!-- there will be a blogs key in data, each instance of that we will call a "blog" --}}
     {{#each data.blogs as |blog|}}
        {{> SINGLEENTRY}}
      {{/each}}
  </div>
</div>
{{!-- the following script will handle the form input for  --}}
<script src="./js/blog_crud.js"></script>