<!-- For EACH post, the 'SINGLEENTRY' partial is used to render the blog data -->

<!-- -->

<body>
    <p>Welcome to Tech Blog</p>
    <p>Check out all our Blogs!</p>
</body>
<!-- 
"blogstuff" should be the response from the router.get in pageRoutes.js and blogsForTemplate should be the serialized version of the response. 
-->
{{#each blogsForTemplate as |blogstuff| }}
{{> SINGLEENTERY}}
{{/each}}


