<!-- For EACH post, the 'SINGLEENTRY' partial is used to render the blog data -->

<!-- -->

<div>
    <p>Welcome to Tech Blog</p>
    <p>Check out all our Blogs!</p>
</div>
<!-- 
-->
{{#each blogz as |blogstuff| }}
{{> SINGLEENTRY}}
{{/each}}


