<!-- For EACH post, the 'SINGLEENTRY' partial is used to render the blog data -->

<!-- -->

<body>
    <p>Welcome to Tech Blog</p>
    <p>Check out all our Blogs!</p>
</body>
<!-- 
-->
{{!-- {{#each blogsForTemplate as |blogstuff| }}
{{> SINGLEENTERY}}
{{/each}} --}}


