
{{!-- single.handlebars is what shows when you click on a single blog and it is shown full view. It will also show all the comments also--}}



{{! first display the blog post--}}
<div class="text-center">
<p>{{entry_title}}</p>
<p>{{entry}}</p>
{{! next display all the comments that belong to the above blog--}}



{{!-- The "entry" should mean each comment entry not each blog entry. the foreign key between comment and blogs is blogs_id, is that useful? --}}
{{#each entry as |entry| }} 
{{> comment}}
{{/each}}

{{!-- This is a form for creating a new comment --}}
  <div class="col-md-6">
    <h3>Create a new Comment on this Blog Post:</h3>
    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment">Comment:</label>
        <input class="form-input" type="text" id="comment" name="comment" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit Comment</button>
      </div>
    </form>
  </div>
</div>
{{!--  javascript over in the public folder to handle the form submission --}}
{{!-- <script src="./js/comment_crud.js"></script> --}}
<script src="/js/comment_crud.js"></script>